#projectsSection {
    position: relative;
    /* background-color: rgb(0, 0, 0); */
    opacity: 0;
    color: white;
    overflow: hidden;
    display: flex;
    /* height: 60rem; */
    align-items: center;
    /* box-shadow: 0px 0px 25px 25px rgb(0, 0, 0); */
    /* top: 30rem; */
    top: -60vh;
    z-index: 98;
}

.projects-section__inner-container {
    
}

#projectsSection > img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    left: 0;
}

.project__bg {
    position: fixed;
    /* z-index: 1; */
    /* opacity: 0; */
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    filter: blur(4px) brightness(20%);
}

.vscodeBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, 0%);
    left: 50%;
    overflow: hidden;
}

.vscodeLeft__container {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-top: 5rem;
}

.vscodeLeft {
    left: 0%;
    width: 100%;
    height: 200%;
}

.vscodeRight__container {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.vscodeRight {
    left: 0%;
    width: 100%;
    height: 200%;
}

.project__header {
    position: relative;
    text-align: left;
    z-index: 2;
}

.project__content {
    position: relative;
    z-index: 2;
}

.project__header > h1 {
    font-weight: 600;
    /* text-shadow: 2px 2px 2px #474747; */
}

.all-projects__container {
    /* display: flex; */
    /* overflow-x: scroll; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.all-projects__container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.all-projects__container:first-child {
    padding-left: 1rem;
}

.all-projects__container:last-child {
    padding-right: 1rem;
}

.project__content__hidden-detail-outermost-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100%;
    left: 0;
    backdrop-filter: blur(4px);
    /* background-color: blue; */
    transition: 0.4s ease;
    z-index: 1000;
    color: var(--darkGrayFont);
}

.project__content__hidden-detail-outermost-container--show {
    top: 0%;
}

.project__content__hidden-detail-wrapper {
    position: absolute;
    height: 90vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: var(--rootBg);
    border-radius: 2rem 2rem 0 0;
    overflow-y: scroll;
    /* overflow-y: scroll; */
    overscroll-behavior: contain;
}

.project__content__hidden-detail-close-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* backdrop-filter: blur(4px); */
    background-color: lightgray;
    border-radius: 2rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project__content__hidden-detail-close-btn {
    /* position: sticky; */
    /* top: 0;
    left: 0;
    margin: 1rem; */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: lightgray;
    /* z-index: 2; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.each-project-hidden-detail-container {
    position: relative;
    z-index: 1;
    /* overflow-y: scroll; */
    /* overscroll-behavior: contain; */
    /* margin-top: 4rem; */
}