.aboutMe {
    background-color: white;
}

@media screen and (min-width: 768px) {
    .img-thumbnail {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .img-thumbnail {
        width: 50%;
    }
}

.img-thumbnail {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

.AboutMeBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    transform: translate(-50%, 0%);
    filter: blur(4px);
    opacity: 0.3;
}

.ImagesSlideShow{
    width: 100%;
    height: 300px;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;

}

.ImagesSlideShow::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.AboutMeImages {
    position: relative;
    width: 400px;
    height: 100%;
    object-fit: cover;
    /* animation: primary 10s linear infinite; */
}

.aboutMeShortBio__container {

}

.aboutMeShortBio__container > video {
    width: 3rem;
}

.aboutMeShortBio {
    color: var(--darkGold);
}

.card-img-top{
    object-fit: fill;
}