.contactMeForm > button {
    background-color: var(--darkGold);
    border: 0;
} 

.ContactMeContainer {
    position: relative;
    box-shadow: 25px 25px 0px 0px rgb(0, 0, 0);
}

.ContactMeContainer::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url('../images/ContactMe/ContactMeBackground2.jpg');
    background-size: cover;
    filter: brightness(120%);
    background-position: 38%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.ContactMeContainer > div {
    position: relative;
}

.ContactMeBottomContainer {
    background-color: rgb(37, 37, 37);
    height: 150px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: small;
    padding-top: 2rem;
}

.copyright {
    list-style: disc;
}

.copyright > li {
    display: inline-block;
    padding-inline: 2rem;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
}

.copyright > li:first-child {
    border: none;
}