#projectsSection {
    background-color: rgb(83, 83, 83);
    color: white;
}

#projectsSection > img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    left: 0;
}

.project__header {
    text-align: left;
}

.project__header > h3 {
    font-weight: 600;
}

.all-projects__container {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.all-projects__container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.all-projects__container:first-child {
    padding-left: 1rem;
}

.all-projects__container:last-child {
    padding-right: 1rem;
}

.each-project__container {
    background-color: rgb(225, 225, 225);
    color: black;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 15px 3px rgb(69, 69, 69);
    max-width: 25rem;
    cursor: pointer;
    transition: 0.5s;
}

.each-project__container:hover {
    background-color: white;
    box-shadow: 0px 0px 15px 3px var(--superDarkGold);
}

.each-project__header {
    text-align: left;
}

.each-project__header > h5 {
    font-weight: 650;
    color: var(--darkGold);
    text-decoration: underline;
}

.each-project__header > a {
    font-size: 0.85rem;
}

.each-project__image {
    object-fit: cover;
    width: 17rem;
    border-radius: 1rem;
}

.each-project__description {
    text-align: left;
}

.each-project__language {
    text-align: left;
}