#projectsSection {
    position: relative;
    background-color: rgb(94, 94, 94);
    color: white;
    overflow: hidden;
    display: flex;
    /* height: 60rem; */
    align-items: center;
}

.projects-section__inner-container {
    
}

#projectsSection > img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    left: 0;
}

.project__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(4px) brightness(20%);
}

.vscodeBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, 0%);
    left: 50%;
    overflow: hidden;
}

.vscodeLeft__container {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-top: 5rem;
}

.vscodeLeft {
    left: 0%;
    width: 100%;
    height: 200%;
}

.vscodeRight__container {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.vscodeRight {
    left: 0%;
    width: 100%;
    height: 200%;
}

.project__header {
    position: relative;
    text-align: left;
    z-index: 2;
}

.project__content {
    position: relative;
    z-index: 2;
}

.project__header > h1 {
    font-weight: 600;
    /* text-shadow: 2px 2px 2px #474747; */
}

.all-projects__container {
    /* display: flex; */
    /* overflow-x: scroll; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.all-projects__container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.all-projects__container:first-child {
    padding-left: 1rem;
}

.all-projects__container:last-child {
    padding-right: 1rem;
}

.each-project__header {
    text-align: left;
}

.each-project__header > h5 {
    font-weight: 650;
    color: var(--darkGold);
    text-decoration: underline;
}

.each-project__header > a {
    font-size: 0.85rem;
}

.each-project__image {
    object-fit: cover;
    width: 17rem;
    border-radius: 1rem;
}

.each-project__description {
    text-align: left;
}

.each-project__language {
    text-align: left;
}

/* .each-project__container {
    background-color: rgb(225, 225, 225);
    color: black;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 15px 3px rgb(69, 69, 69);
    max-width: 25rem; 
    cursor: pointer;
    transition: 0.5s;
} */

.each-project__container {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #ddd;
    border: 1px #eaf3f2;
    border-radius: .8em;
    padding: 0 .25em .25em;
    transition: all .4s;
    position: relative;
    overflow: hidden;
    margin-block: 1rem;
    overflow: hidden;
    scale: 0.9;
}

.each-project__container:hover {
    /* background-color: white; */
    /* box-shadow: 0px 0px 15px 3px var(--superDarkGold); */
    scale: 1;
}

.each-project-safari-header {
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    padding-bottom: .25rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.each-project-top-wrap {
    grid-column-gap: .4rem;
    background-color: #e9e9e9;
    background-image: url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccfdfc72deabe6de0d0e_rechts.svg),url(https://assets-global.website-files.com/64653ddbdd2b114ca9c5d299/6491ccf501942a5e255b8d9d_links.svg);
    background-position: 100%,0%;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,contain;
    border-bottom: 1px #9fa4a7;
    border-left: 1px #9fa4a7;
    border-right: 1px #9fa4a7;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    overflow: hidden;
}

.each-project-url-wrap {
    width: 100%;
    grid-column-gap: .4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .2rem 4.5rem .4rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 0.5rem;
    color: black;
    align-items: center;
}

.each-project-url-wrap > p {
    padding: 0;
    margin: 0;
}

.each-project-content {
    position: relative;
    width: 100%;
    padding-top: .3rem;
    /* height: 45vw; */
}

.each-project-expand-btn-wrapper {
    /* position: relative; */
    transition: 0.3s;
    overflow: hidden;
    /* border-radius: .8em; */
}

.each-project-expand-arrow {
    position: relative;
    /* z-index: 100; */
    color: black;
    cursor: pointer;
}

.each-project-expand-btn {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;

    background-color: transparent;
    border: none;
    transition: 1s;

    backdrop-filter: blur(4px);
    color: black;
    height: 4rem;
    line-height: 4rem;
    mask: linear-gradient(to bottom, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.3) 25%,
    rgba(0,0,0,1) 50%);
    border-radius: .8em;
    background-image: linear-gradient(to bottom, transparent 0%, #ddd 100%);
}

/* .each-project-expand-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, #ddd 60%);
    transition: 0.8s;
  } */

.each-project-expand-btn-wrapper:hover .each-project-expand-arrow {
    color: white;
}

.each-project-expand-btn-wrapper:hover .each-project-expand-btn {
    background-image: linear-gradient(to bottom, transparent 20%, black 100%);
}

/* .each-project-expand-btn:hover {
    background-color: var(--darkGold);
    background-image: linear-gradient(to bottom, transparent 20%, var(--darkGold) 100%);
} */

.each-project-expand-btn > span {
    z-index: 100;
    margin-bottom: 0;
    padding-top: 2rem;
}

.each-project-website {
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.each-project-hidden-info {
    color: black;
    max-height: 4.5rem;
    /* mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 80%); */
}

.each-project-hidden-info h3 {
    font-weight: 600;
}

.each-project-hidden-info h5 {
    font-size: 1rem;
    font-weight: 600;
}

.each-project-hidden-info p {
    font-size: 0.875rem;
    color: rgb(104, 104, 104);
}