#Skills {
    position: relative;
    top: -60vh;
    z-index: 97;
    background-color: transparent;
}

.skills-outer-container {
    position: relative;
    background-color: transparent;
}

.skills__bg {
    position: fixed;
    /* z-index: 100000; */
    /* opacity: 0; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    filter: blur(4px) brightness(70%);
}

.skills__bg__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, 0%);
    left: 50%;
    overflow: hidden;
}

.row.working.out {
    position: relative;
    /* background-color: rgb(49, 49, 49); */
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* .row.skills.out.working::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../images/Skills/workingBackground.jpg");
    background-size: cover;
    background-position: 75%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
} */

.row.skills.out.working > div {
    position: relative;
}

.row.skills.out {
    background-color: rgb(233, 233, 233);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.row.skills.in {
    position: relative;
    background: transparent;
    /* background-color: rgb(37, 37, 37); */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    /* box-shadow: 0px 0px 25px 25px rgb(27, 27, 27); */
}

/* .row.skills.in::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../images/Skills/skillBackground.jpg");
    filter: blur(5px);
    background-size: cover;
    background-position: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
} */

.row.skills.in > div {
    position: relative;
}

.graduation__content__card {
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem;
}

.grad__cert {
    margin: 0.2rem;
}

.grad__cert__outermost {
    /* border-color: rgb(204,153,0); */
    border: 1px solid rgb(0,51,102);
    border-radius: 1.5rem;
}

.grad__cert__middle {
    border: 2px solid rgb(204,153,0);
    border-radius: 1.3rem;
}

.grad__cert__innermost {
    border: 1px solid rgb(0,51,102);
    border-radius: 1.1rem;
}

.uniLogo__container {
    position: relative;
    /* border: 1px solid white; */
    display: inline-flex;
}

.uniLogo {
    position: relative;
    width: 100%;
    height: 6rem;
    object-fit: contain;
    margin: 0rem;
    margin-top: 1rem;
}

.university__name {
    color: var(--gold);
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    font-family: 'Merriweather', serif;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s linear infinite;
}

.degree__name {
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}

.qs_ranking {
    font-size: 0.7rem;
    padding: 0;
    color: darkgray;
    padding-bottom: 1.5rem;
}
    
@keyframes shine {
from { -webkit-mask-position: 150%; }
to { -webkit-mask-position: -50%; }
}

.mySkills > div>div>h4 {
    color: var(--gold);
    padding-block: -20%;
}

.mySkills > p {
    padding-top: -20%;
    padding-bottom: -20%;
}

.expertise-loop-indicator{
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    margin: 2rem;
    transform: translate(-50%,-50%);
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
  }

  .expertise-loop-indicator:hover {
    scale: 1.2;
  }

.expertise-loop-indicator .circular-animation{
    position: absolute;
    border:2px solid #121212;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background:090909;
    box-shadow:0 0 10px rgba(0,0,0,1);
    border-radius: 50%;
    border-left: 2px solid #ffff00;
    border-top: 2px solid #ffff00;
}

.circular-animation--play {
    animation: ani1 3s linear infinite;
    animation-play-state: running;
  }

  .circular-animation--pause {
    animation: ani1 3s linear infinite;
    animation-play-state: paused;
  }

  .expertise-loop-indicator .circular-animation .circular-animation-circle{
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
    transform: rotate(-45deg);
  }


  .expertise-loop-indicator .circular-animation .circular-animation-circle:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: -2px;
    right: -3px;
  }
  .expertise-loop-indicator .circular-animation .circular-animation-circle:before{
    background:#ffff00;
    box-shadow: 0 0 20px #ff0,0 0 40px #ff0,0 0 60px #ff0,0 0 80px #ff0,
    0 0 100px #ff0,0 0 0 5px rgba(255,255,0,.1);
  }

  @keyframes ani1{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }

.expertise-loop-icon {
    scale: 0.8;
    transition: 1s;
}


.each-expertise {
    transition: 0.5s;
    filter: blur(5px);
    border: 2px solid white;
    border-radius: 15px;
    scale: 0.8;
}

.each-expertise--hover {
    border: 2px solid var(--gold);
    filter: blur(0px);
    scale: 1;
    box-shadow: var(--gold) 0px 0px 10px 0px;
    background-color: rgba(27, 27, 27, 0.5);
}

.expertiseIcon {
    filter: invert(100%);
    object-fit: cover;
    width: 60%;
}

.ExpertiseDescription {
    position: relative;
    /* height: cal(100vw); */
}

.ExpertiseDescription > h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.ExpertiseDescription > p{
    color: var(--gold);
}

/* .timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    background-color: rgb(171, 194, 231);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.workingExp__header {
    position: fixed;
}

.company-detail {
    font-size: 0.8rem;
    color: lightgray;
}

.company-logo {
    position: absolute;
    z-index: 0;
    opacity: 1;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 31px;
    top: 50%;
    left: 50%;
    border-radius: 15px;
}

.job-description {
    position: relative;
    z-index: 10;

}