.outerCover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Cover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 1px solid black;
}

.CoverProPic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.CoverProPic--Me {
    position: absolute;
    filter: brightness(65%);
    transform: translate(-2px,0px);
    z-index: 10;
}

.Greeting {
    position: absolute;
    top: 25%;
    padding-inline: 10%;
    left: 0px;
    color: white;
    
    font-family: 'Times New Roman';
    /* border: solid; */
}

.Greeting > h1 {
    text-shadow: 5px 5px 15px #000000;
}

.Greeting > h1 > span{
    color: var(--gold);
    font-weight: bold;
}

.Greeting > p {
    width: 58%;
    font-size: 1rem;
}

.LearnMore {
    background-color: var(--gold);
}