.Cover {
    width: 100%;
    height: 100vh;
}

.CoverProPic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%)
}

.Greeting {
    position: absolute;
    top: 50%;
    width: 50%;
    padding-inline: 10%;
    left: 0;
    color: white;
}