.navbar {
  position: sticky;
  transition: 0.1s;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  order: 100;
}

.navbar-collapse.collapsing {
  height: auto !important;
  margin-left: 0%;
  right: -20%;
  transition: all 0.1s ease;
}

.container-fluid--navbar {
  padding-block: 0.5rem;
  border-radius: 2rem;
  width: 90%;
  background-color: rgb(255,255,255, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}