.navbar {
  position: sticky;
  background-color: rgb(255,255,255, 0.6);
  backdrop-filter: blur(10px);
  transition: 0.1s;
  /* border: 1px solid black; */
  /* height: 58px; */
  /* overflow-y: visible; */
}

.navbar-collapse.collapsing {
  height: auto !important;
  margin-left: 0%;
  right: -20%;
  transition: all 0.1s ease;
}