.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(255,255,255, 0.6);
  backdrop-filter: blur(10px);
  transition: 0.1s;
}

.navbar-collapse.collapsing {
  height: auto !important;
  margin-left: 0%;
  right: -20%;
  transition: all 0.1s ease;
}