#ContactMe {
    position: relative;
    z-index: 100;
    margin-top: -50vh;
    /* top: -40vh; */
}

/* .contact-me-section-bg {
    position: fixed;
} */

.send-email-btn {
    position: relative;
    background-color: var(--darkGold);
    border: 0;
    display: flex;
    align-items: center;
} 

.message-sent-indicator {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 1s;
    height: 1.5rem;
    max-width: 0px;
    overflow: hidden;
}

.message-sent-indicator > img {
    height: 1.5rem;
}

.message-sent-indicator > p {
    line-height: 1.5rem;
    margin: 0;
    font-size: 0.7rem;
    color: rgb(22, 255, 22);
    /* padding-left: 0.5rem; */
}

.message-sent-indicator--show {
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.ContactMeContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* box-shadow: 25px 25px 0px 0px rgb(0, 0, 0); */
}

.ContactMeContainer::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url('../../assets/images/6-contact/ContactMeBackground2.jpg');
    background-size: cover;
    filter: brightness(120%);
    background-position: 38%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

.ContactMeContainer > div {
    position: relative;
}

.ContactMeBottomContainer {
    background-color: rgb(37, 37, 37);
    /* background-color: red; */
    height: 150px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: small;
    padding-top: 2rem;
}

.copyright {
    list-style: disc;
}

.copyright > li {
    display: inline-block;
    padding-inline: 2rem;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
}

.copyright > li:first-child {
    border: none;
}