body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gold: rgb(231, 177, 0);
  --darkGold: rgb(198, 152, 0);
  --superDarkGold: rgb(133, 103, 2);
  --white: #ffffff;
  --darkGrayFont: rgb(110,110,110);
}

mark.gold {
  color: var(--superDarkGold);
  /* color: black; */
  background: transparent;
  /* text-shadow: 0.5px 0.5px 3px rgba(99, 89, 22, 0.20); */
}

mark.black {
  color: rgb(148, 116, 0);
  /* color: black; */
  background: transparent;
  /* text-shadow: 0.5px 0.5px 3px rgba(99, 89, 22, 0.20); */
}

mark.bold {
  font-weight: 600;
}

mark.highlight {
  text-decoration: underline;
  cursor: pointer;
}

mark.white {
  color: var(--white);
  background: transparent;
}